{% extends "base.html" %}
{% block content %}
  <h3 class="mb-1">Add Holiday</h3>
  <form action="{{ url_for('edit_holidays') }}">
    <label for="start">Select Date:</label>
    <input type="date" id="start" name="holiday-date" value="2021-04-01" min="1900-01-01" max="3000-12-31">
    <div class="my-1 col-3">
  		<input class="form-control form-control-sm" type="text" name="name" placeholder="Enter new holiday">
  	</div>
  	<input class="btn btn-outline-dark btn-sm" type="submit" value="Submit">
  </form>
{% endblock %}



<label for="start">Start date:</label>

